[submodule "xmarts/transport_module"]
	path = xmarts/transport_module
	url = git@github.com:xmarts/transport_module.git
	branch = main

[submodule "xmarts/tms_rosch_v15"]
	path = xmarts/tms_rosch_v15
	url = git@github.com:xmarts/tms_rosch_v15.git
	branch = main
[submodule "l10n_xma_certificates"]
	path = l10n_xma_certificates
	url = git@gitlab.xmarts.com:xmarts/localizaciones/cliente/l10n_xma_certificates.git
[submodule "xma_core"]
	path = xma_core
	url = git@gitlab.xmarts.com:xmarts/localizaciones/cliente/xma_core.git
[submodule "xma_einvoice"]
	path = xma_einvoice
	url = git@gitlab.xmarts.com:xmarts/localizaciones/cliente/xma_einvoice.git
